table {
  border: 3px solid cornflowerblue;
}

td:hover {
  background-color: darksalmon;
  color: black;
}

tr,
th {
  background-color: burlywood;
  color: cadetblue;
}

tr,
td {
  background-color: crimson;
  color: white;
}
